﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Question Set {{$scope.QuestionSetId}}</h4>
            </div>
            <div class="grid-body no-border">
                <div class="row">

                    <div ng-repeat="questionSet in questionSet">
                       <a ng-href="">{{questionSet.QuestionSetName}}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>