﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Question Sets</h4>
            </div>
            <div class="grid-body no-border">
                <div class="row">
                    <div class="grid-body ">
                        <table class="table table-hover table-condensed" id="example">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Question Set
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr class="selectable" ng-repeat="questionSet in questionSets">
                                    <td></td>
                                    <td>
                                        <a href="#/questionset/{{questionSet.QuestionSetId}}">{{questionSet.QuestionSetName}}</a>
                                    </td>
                                    <td>
                                        <a href="#/startTransaction/{{questionSet.QuestionSetId}}" class=" btn btn-success btn-sm .btn-small ">Start</a>
                                    </td>
</tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>