﻿<div class="row login-container animated fadeInUp">
    <div class="col-md-7 col-md-offset-2 tiles white no-padding">
        <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
            <h2 class="normal">Sign in to QC</h2>



        </div>
        <div class="tiles grey p-t-20 p-b-20 text-black">


            <form name="loginForm" ng-submit="login(credentials)">
                <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-md-6 col-sm-6 ">
                        <input name="login_username" id="login_username" type="text" class="form-control" placeholder="Username" ng-model="credentials.username">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input name="login_pass" id="login_pass" type="password" class="form-control" placeholder="Password" ng-model="credentials.password">
                    </div>
                </div>
               
                <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="control-group  col-md-10">
                        <div class="checkbox checkbox check-success">
                            <input type="submit" class="btn btn-primary btn-cons" id="Sign" value="Sign in" />
                        </div>
                    </div>

                </div>
                <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="control-group  col-md-12">
                        <div class="alert alert-error" id="animateAlert" ng-show="loginerror">
                            <p> {{loginerror}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>